/*--------------------------------------------------------------
	Default Styles
--------------------------------------------------------------*/
body {
  margin: 0px;
  padding: 0px;
  background-color: #ffffff;
  color: #444444;
  line-height: 1.6;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}

/*
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
*/
