/*--------------------------------------------------------------
	Default Styles
--------------------------------------------------------------*/
body {
  margin: 0px;
  padding: 0px;
  background-color: #ffffff;
  color: #444444;
  line-height: 1.6;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}

.departures {
  border: 1px solid #dbdbdb;
}
